.vscode
__pycache__
nohup.out

yolov4_darknet/darknet/
yolov4_darknet/weights/
yolov4_darknet/data/
yolov4_darknet/dataset/

hd_cnn/log/
hd_cnn/weights/
hd_cnn/data/
hd_cnn/dataset/

/result.jpg

!.gitkeep
